{% extends "base.html" %}
{% block scripts %}
	<script src="{{ STATIC_URL }}js/jquery.mobile.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.util-functions.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.infinite-scroll.js"></script>
	<script src="{{ STATIC_URL }}js/feed.js"></script>
{% endblock scripts %}

{% block appmenu %}
	<li class="menu">
		<a class="symbol" href="{% url 'ownreader:addFeed' %}">&#8862;</a>
	</li>
	<li class="menu">
		<a class="symbol" href="{% url 'ownreader:UserUpdate' %}">&#128260;</a>
	</li>
	<li class="menu">
		<a class="symbol" href="{% url 'ownreader:toggleSidebar' %}"
		    id="sidebarToggle" onclick="WOE.toggleSidebar(); return false;">
		    &#128193;
		</a>
	</li>
	<li class="menu">
		<form action="{% url 'ownreader:markRead' %}" method="post"
		    id="allItemsForm">
            {% csrf_token %}
		    {{ formset }}
		    <button class="symbol" onclick="WOE.markAllAsRead(); return false;">
		        &#59146;
		    </button>
		</form>
{% endblock %}

{% block usermenu %}
    {% if prefs.showRead %}
	    <li><a href="{% url 'ownreader:toggleShowRead' %}">Hide Read</a></li>
	{% else %}
	    <li><a href="{% url 'ownreader:toggleShowRead' %}">View Read</a></li>
	{% endif %}
{% endblock %}

{% block wrapperclasses %}
    class="
    {% if prefs.showSidebar %}sidebar{% endif %}
    {% if prefs.viewMode == "CO" %}collapse
        {% elif prefs.viewMode == "AX" %}autoexpand
        {% elif prefs.viewMode == "EX" %}expand
        {% elif prefs.viewMode == "TA" %}tall
        {% elif prefs.viewMode == "WI" %}wide
    {% endif %}
    "
{% endblock %}

{% block content %}
<div id="asidewrapper">
	<aside>
		<p>
			-----sidebar-----
		</p>
	</aside>
</div>
<div id="mainWrapper">
    <div id="itemWrapper">
    {% if items.has_previous %}
        <form action="/" method="post" id="previousPage" class="non-js">
            {% csrf_token %}
            <input name="page" type="hidden"
                value="{{ items.previous_page_number }}" />
            <input class="widebutton" type="submit" value="Newer Entries">
        </form>
    {% endif %}
    {% for item in items %}
        <div class="item
            {% if item.read %}read{% endif %}
            {% if prefs.viewMode != "EX" %}collapsed{% endif %}"
            id="{{ item.pk }}">
            <div class="item_header">
                <div class="item_title" onclick="WOE.selectItem({{ item.pk }})">
                    <h3>
                        <a href="{{ item.item.url }}">{{ item.item.title }}</a>
                    </h3>
                </div>
                <div class="item_actions">
                    <button onclick="WOE.toggleShow({{ item.pk }})" class="hider">
                        {% if prefs.viewMode == "EX" %}-
                        {% else %}+
                        {% endif %}
                    </button>
                    <form action={% url 'ownreader:toggleRead' %} method="post">
                        {% csrf_token %}
                        <input name="id" type="hidden" value="{{ item.pk }}" />
                        <input type="submit" value="Read"
                            onclick="WOE.toggleRead({{ item.pk }}); return false;">
                    </form>
                </div>
            </div>
            <div class="item_summary">
                {{item.item.content|safe}}
            </div>
        </div>
    {% endfor %}
    {% if items.has_next %}
        <form action="/" method="post" id="nextPage" class="non-js">
            {% csrf_token %}
            <input name="items" id="itemsPerPage" type="hidden"
                value="{{ prefs.itemsPerPage }}" />
            <input name="showRead" id="showRead" type="hidden"
                value="{{ prefs.showRead }}" />
            <input name="page" id="newPage" type="hidden"
                value="{{ items.next_page_number }}" />
            <input class="widebutton" type="submit" value="Older Entries">
        </form>
    {% endif %}
    </div>
    <div id="previewWrapper">
        <div id="preview"></div>
        <div id="preview_actions">
            <ul class="leftfloat">
                <li class="menu smallscreen">
                    <a class="symbol" href="#"
                        onclick="WOE.hidePreview(); return false;">&#58541;</a>
                </li>
                <li class="menu">
                    <form action={% url 'ownreader:toggleRead' %} method="post">
                        {% csrf_token %}
                        <input name="id" type="hidden" value="" />
                        <button class="symbol" id="previewMarkRead"
                            onclick="WOE.toggleRead({{ selected.id }}); return false;">
                            &#59146;
                        </button>
                    </form>
                </li>
            </ul>
            <ul class="rightfloat">
                <li class="menu">
                    <a class="symbol" href="#" id="viewPreviousItem"
                        onclick="WOE.previousItem(); return false;">
                        &#59233;
                    </a>
                </li>
                <li class="menu">
                    <a class="symbol" href="#" id="viewNextItem"
                        onclick="WOE.nextItem(); return false;">
                        &#59234;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

