{% extends "base.html" %}

{% block aligner %}{% endblock %}

{% block appmenu %}
	<li class="menu">
		<a class="symbol" href="{% url 'ownreader:addFeed' %}">&#8862;</a>
	</li>
	<li class="menu">
		<a class="symbol" href="{% url 'ownreader:UserUpdate' %}">&#128260;</a>
	</li>
	<li class="menu">
		<a class="symbol" href="{% url 'ownreader:toggleSidebar' %}"
		    id="sidebarToggle" onclick="sidebarToggle(); return false;">&#128193;</a>
	</li>
{% endblock %}

{% block usermenu %}
    {% if showUnread %}
	    <li><a href="{% url 'ownreader:toggleUnread' %}">Hide Unread</a></li>
	{% else %}
	    <li><a href="{% url 'ownreader:toggleUnread' %}">View Unread</a></li>
	{% endif %}
{% endblock %}

{% block wrapperclasses %}
    class="
    {% if showSidebar %}sidebar{% endif %}
    "
{% endblock %}
{% block content %}
{% for item in items %}
<div class="item
    {% if item.read %}read{% endif %}
    {% if viewMode != "expanded" %}collapsed{% endif %}"
    id="{{ item.id }}">
    <div class="item_header">
        <div class="item_title">
            <h3>
                <a href="{{ item.link }}">{{ item.title }}</a>
            </h3>
        </div>
        <div class="item_actions">
            <button onclick="toggleShow({{ item.id }})" class="hider">
                {% if viewMode == "expanded" %}-
                {% else %}+
                {% endif %}
            </button>
            <form action={% url 'ownreader:toggleRead' %} method="post">
                {% csrf_token %}
                <input name="id" type="hidden" value="{{ item.id }}" />
                <input type="submit" value="Read"
                    onclick="toggleRead({{ item.id }}); return false;">
            </form>
        </div>
    </div>
    <div class="item_summary">
        {{item.summary|safe}}
    </div>
</div>
{% endfor %}
{% endblock %}

{% block sidebar %}
<div id="asidewrapper">
		<aside>
			<p>
				-----sidebar-----
			</p>
		</aside>
	</div>
{% endblock %}
