{% extends "base.html" %}
{% block authmenu %}
    {% if showUnread %}
	    <li><a href="{% url 'ownreader:toggleUnread' %}">Hide Unread</a></li>
	{% else %}
	    <li><a href="{% url 'ownreader:toggleUnread' %}">View Unread</a></li>
	{% endif %}
{% endblock %}
{% block content %}
{% for item in items %}
<div class="item">
    <div class="item_header">
        <div class="item_title">
            <h3>
                <a href="{{ item.link }}">{{ item.title }}</a>
            </h3>
        </div>
        <div class="item_actions">
            <input type="button" onclick="toggleRead({{ item.id }})" value="Read">
        </div>
    </div>
        <div class="item_summary" id="{{ item.id }}">
            {{item.summary|safe}}
        </div>
    </div>
    {% endfor %}
{% endblock %}
