@col-bg:         #000000;
@col-bg2:        #222222;
@col-btn:        #333333;
@col-btnH:       #444444;
@col-div:        #999999;
@col-links:      #cccccc;
@col-txt:        #cccccc;
@col-read:       #777777;
@col-item-links: #bbbbff;
@col-error:      #FF0000;
@size-item:      55em;

* {
	font-family: 'Liberation Sans', 'droid sans', 'helvetica', 'arial', sans-serif;
	margin: 0px;
	padding: 0px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-decoration: none;
}
@font-face {
	font-family: 'EntypoRegular';
	src: url('../font/entypo/entypo.eot');
	src: url('../font/entypo/entypo.eot?#iefix') format('embedded-opentype'),
	url('../font/entypo/entypo.woff') format('woff'),
	url('../font/entypo/entypo.ttf') format('truetype'),
	url('../font/entypo/entypo.svg#EntypoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body { background-color: @col-bg; }
.js .non-js { display: none; }
.leftfloat { float: left; }
.rightfloat { float: right; }
.errorlist{ color: @col-error; }
p { margin:0; }
a { color: @col-links; }
ul {
	margin:0;
	padding:0;
}
button, .button, input {
	border: 1px solid #000;
	font-size: 1em;
	height: 2em;
}
.widebutton{
	width: 100%;
}
button, .button, input[type=button], input[type=submit] {
	color: @col-links;
	background: @col-btn;
	cursor: pointer;
	text-align: center;
	&:hover{
		background: @col-btnH;
	}
}
nav {
	min-width: 10em;
	position: fixed;
	background-color: @col-btn;
	width: 100%;
}
.menu {
	background-color: @col-btn;
	float: left;
	line-height: 2em;
	list-style-type: none;
	width: auto;
	&, & li {
		background-color: @col-btn;
		display: block;
		position: relative;
	}
	li {
		float: none;
	}
	&:hover, & li:hover{
		background-color: @col-btnH;
	}
	a, button {
		display: block;
		height: 2em;
		padding: 0px 0.15em !important;
		border: none;
	}
	.symbol {
		font-family: 'EntypoRegular';
		font-size: 2em;
		height: 1em;
		line-height: 1em;
		background: none;
	}
	ul {
		display: none;
		position: fixed;
		z-index: 2;
	}
	&:hover ul {
		display: block;
	}
	.rightfloat & ul{
		right: 0px;
		text-align: right;
	}
}
#wrapper {
	display: flex;
	flex-direction: row;
	& > * {
		padding-top: 2em;
		min-height: 100vh;
	}
	#asidewrapper {
		width: 20em;
		display: none;
	}
	&.sidebar #asidewrapper{ display: block; }
	aside{
		width: 20em;
		height: 100%;
		position: fixed;
		border-right: 1px solid @col-txt;
		color: @col-txt;
		background: @col-bg2;
	}
	#mainWrapper{
		flex: 1;
		display: flex;
		#previewWrapper{ display: none; }
		#itemWrapper, #preview {
			overflow-y: auto;
		}
	}
	&.tall #mainWrapper {
		flex-direction: column;
		& > * { max-height: 50%; }
	}
	&.wide #mainWrapper { flex-direction: row; }
	&.tall #mainWrapper, &.wide #mainWrapper {
		max-height: 100vh;
		#previewWrapper {
			display: flex;
			width: 100%;
		}
	}
	#mainWrapper #itemWrapper, #aligned_div, #mainWrapper #previewWrapper {
		color: @col-txt;
		margin: 0 auto;
		max-width: @size-item;
		flex: 1;
	}
	#aligned_div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& > * { padding: 0em 2em; }
		form {
			max-width: 40em;
			width: 100%;
			padding: 0em 1em;
			p{
				display: flex;
				padding: 0.5em 0em;
				* {
					min-width: 10em;
					line-height: 2em;
					flex: 1;
				}
				input[type=text], input[type=password],
				input[type=url],  input[type=email]{
					min-width: 10em;
					flex: 2;
				}
				input[type=submit]{
					align-self: flex-end;
					margin-top: 1em;
					max-width: 15em;
				}
			}
			#recaptcha_area {
				margin-left: auto;
				&, #recaptcha_table { max-width: 100%; }
			}
			label[for="id_captcha"] {
				display:none;
			}
			.addendum {
				margin: 0 auto;
				padding-top: 3em;
				max-width: 30em;
			}
		}
	}
	.centredText {
		text-align: center;
	}
}
#previewWrapper {
	display: flex;
	flex-direction: column;
	#preview {
		flex: 1;
		height: 100%;
	}
	#preview_actions {
		height: 2em;
		width: 100%;
		background: @col-bg2;
		display: flex;
		flex-direction: row;
		justify-items: center;
	}
}
.item, #preview {
	width: 100%;
	background: @col-bg;
	&.collapsed .item_summary {
		display: none;
	}
	.item_summary {
		padding: 1em 2em;
		* {
			max-width: 100%;
			background: none !important; //override inline styles
			color: @col-txt !important; //override inline styles
			font-size: 1em !important; //override inline styles
		}
		a {
			color: @col-item-links !important; //override inline styles
			margin: 0em !important; //override inline styles
		}
		img {
			//height: auto;
		}
		li {
			list-style-position: inside;
		}
		blockquote {
			padding-left: 1em;
			margin: 0em !important; //override inline styles
		}
		pre {
			word-break: break-all;
		}
		//SO MANY websites are using tables for layout in their RSS
		table, tr, td, tbody {
			display: block;
			word-break: break-all;
		}
	}
	&.read .item_header a{
		color: @col-read;
	}
	&.read.selected .item_header {
		background: @col-read;
	}
	&.selected .item_header {
		background: @col-txt;
		a{
			color: @col-bg;
		}
	}
	.item_header {
		border-top: 1px solid @col-txt;
		border-bottom: 1px solid @col-txt;
		display: flex;
		align-items: center;
		.item_title {
			padding: 0em 1em;
			flex: 1;
			cursor: pointer;
		}
		.item_title h3 {
			margin: 0;
			line-height: 2em;
		}
		.item_actions {
			padding-right: 1em;
			* {
				display: inline;
				padding: 0 0.1em;
			}
			.hider {
				width: 2em;
			}
			#wrapper.tall &, #wrapper.wide & {
				display: none;
			}
		}
	}
}
@media screen and (min-width: 30em) {
}
#smallscreen {
	visibility: hidden;
}
@media screen and (max-width: 40em) {
	//Easy way to tell JS that viewport < 40em
	#smallscreen {
		visibility: visible;
	}
	#wrapper.sidebar #itemWrapper {
		display: none;
	}
	#asidewrapper, aside {
		width: 100% !important;
	}
	.item {
		display: none;
		&.selected { display: block;}
		.hider { display: none; }
		.item_title { word-break: break-all; }
	}
}
