@col-bg:    #000000;
@col-bg2:   #060606;
@col-btn:   #333333;
@col-btnH:  #444444;
@col-links: #ffffff;
@col-txt:   #ffffff;
@size-item: 55em;

* {
	//font-family: 'Liberation Sans', 'droid sans', 'helvetica', 'arial', sans-serif;
	margin: 0px;
	padding: 0px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
@font-face {
	font-family: 'EntypoRegular';
	src: url('../font/entypo/entypo.eot');
	src: url('../font/entypo/entypo.eot?#iefix') format('embedded-opentype'),
	url('../font/entypo/entypo.woff') format('woff'),
	url('../font/entypo/entypo.ttf') format('truetype'),
	url('../font/entypo/entypo.svg#EntypoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.menu a.symbol {
	font-family: 'EntypoRegular';
	font-size: 2em;
	height: 1em;
}
.errorlist{
	color: #F00;
}
body, html {
	background-color: @col-bg;
	height: 100%;
}
a {
	text-decoration: none;
	color: @col-links;
}
ul {
	margin:0;
	padding:0;
}
p {
	margin:0;
}
#navbar {
	position: fixed;
	background-color: @col-btn;
	width: 100%;
}
nav {
	min-width: 10em;
}
.menu, .menu li {
	background-color: @col-btn;
	float: left;
	line-height: 2em;
	list-style-type: none;
	width: auto;
	position: relative;
}
.menu a {
	display: block;
	height: 2em;
	padding-left: 0.15em;
	padding-right: 0.15em;
}
.menu:hover, .menu li:hover {
	background-color: @col-btnH;
}
.menu:hover ul {
	display:block;
}
.menu ul {
	display:none;
	position: absolute;
}
.menu li {
	display: block;
	float: none;
}
.leftfloat {
	float: left;
}
.rightfloat {
	float: right;
}
.rightfloat li {
}
.rightfloat li ul {
	right: 0px;
}
#main {
	margin-top: 2em;
	padding-top: 2em;
	max-width: @size-item;
	margin: auto;
	color: @col-txt;
	text-align: left;
	height: calc(~"100% - 2em");
	height: -webkit-calc(~"100% - 2em");
}
html.touch nav{
	font-size: 1.25em;
}
html.touch #main {
	padding-top: 2.5em;
}
article {
	height: 100%;
	width: 100%;
	background-color: @col-bg2;
}
article > * {
	background-color: @col-bg2;
}
#outer_aligner {
	height: 100%;
	width: 100%;
	display: table;
}
#inner_aligner {
	display: table-cell;
	vertical-align: middle;
}
.aligned_div form, form.aligned_div{
	text-align:left;
}
.aligned_div form p, form.aligned_div p{
	display: table-row;
}
.aligned_div {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width: 20em;
}
.aligned_div p {
	display: inline-block;
	font-size: 1em;
	line-height: 2em;
}
.aligned_div p label {
	display: table-cell;
	width: 10em;
	padding-bottom:0.2em;
}
.aligned_div p input, .aligned_div p a {
	font-size: 1em;
	display: table-cell;
	width: 10em;
}
.aligned_div input[type=submit] {
	margin-top:1em;
	margin-bottom:1em;
	float: right;
}
@media screen and (min-width: 30em) {
	.aligned_div p input[type=text], .aligned_div p input[type=password]{
		width: 20em;
	}
	.aligned_div {
		width: 30em;
	}
	#recaptcha_widget_div {
		margin-left: 10em;
	}
	.aligned_div p input[type=submit] {
		margin-left: 10em;
	}
	p.addendum{
		margin-left: 5em;
		margin-right: 5em;
	}
}
.ralign {
	text-align: right;
}
.lalign {
	text-align: left;
}
.button, input {
	border: 1px solid #000;
	font-size: 1em;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}
input[type=text], input[type=password] {
	line-height:1.5em;
	height:1.5em;
}
.button, input[type=button], input[type=submit] {
	color: @col-links;
	text-align: center;
	background: @col-btn !important;
	height: 2em;
	line-height: 2em;
	cursor: pointer;
}
#recaptcha_widget_div {
	margin-top: 1em;
	margin-bottom: 1em;
}
.aligned_div p label[for="id_captcha"] {
	display:none;
}
p.addendum, .aligned_div p.addendum{
	margin-top: 2em;
	display: block;
}
.item{
	padding-bottom: 1em;
	max-width: 100vw;
	width: @size-item;
	.item_summary {
		* {
			max-width: 100%;
			background-color: @col-bg2 !important;
			text-align: justify;
		}
		img {
			width: auto;
			height: auto;
		}
		li {
			list-style-position: inside;
		}
		blockquote {
			margin: 0em;
			padding-left: 1em;
		}
		/* Hack because of stupid qwantz table layout */
		table img {
			width: 100%;
		}
		max-width: 100%;
		padding-left: 2em;
		padding-right: 2em;
		display: block;
	}
	.item_header {
		border-top: 1px solid @col-txt;
		border-bottom: 1px solid @col-txt;
		display: table;
		width: @size-item;
		max-width: 100vw;
		margin-bottom: 1em;
		.item_title {
			max-width: 70vw;
			display: table-cell;
			padding-left: 1em;
			padding-right: 1em;
			vertical-align: middle;
		}
		.item_title h3 {
			margin: 0;
		}
		.item_actions {
			display: table-cell;
			vertical-align: middle;
			width: 2em;
			padding-right: 1em;
		}
	}
}
