{% load url from future %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery.dropdown-menu.js"></script>
		{% block scripts %}{% endblock scripts %}
		<title>{% block title %}Woereader{% endblock %}</title>
	<meta charset="utf-8" />
</head>

<body>
	<div id="smallscreen"></div>
	<nav>
		{% block navbar %}
		<ul class="leftfloat">
			<li class="menu">
				<a class="symbol" href="{% url 'ownreader:index' %}">&#8962;</a>
			</li>
			{% if user.is_authenticated %}
			    {% block appmenu %}
			    {% endblock appmenu %}
			{% endif %}
		</ul>
		<ul class="rightfloat">
			<li class="menu"><a class="symbol" href="#">&#9881;</a>
				<ul>
					{% if user.is_authenticated %}
						{% block usermenu %}
						{% endblock %}
                        <li><a href="{% url 'ownreader:settings' %}">Settings</a></li>
						<li><a href="{% url 'auth_logout' %}">Log Out</a></li>
					{% else %}
						<li><a href="{% url 'auth_login' %}">Log In</a></li>
					{% endif %}
				</ul>
			</li>
		</ul>
		{% endblock navbar %}
	</nav>
	<div id="wrapper"{% block wrapperclasses %}{% endblock %}>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
