{% load url from future %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
		<script type="text/javascript">
		document.write("\<script src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
		</script>
		<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/main.js"></script>
		<title>{% block title %}Woereader{% endblock %}</title>
	<meta charset="utf-8" />
</head>

<body>
	<div id="smallscreen"></div>
	<nav>
		{% block navbar %}
		<ul class="leftfloat">
			{% block leftfloat %}
			<li class="menu">
				<a class="symbol" href="{% url 'ownreader:index' %}">&#8962;</a>
			</li>
			{% if user.is_authenticated %}
			{% block appmenu %}
			{% endblock %}
			{% endif %}
			{% endblock %}
		</ul>
		<ul class="rightfloat">
			{% block rightfloat %}
			<li class="menu"><a class="symbol" href="#">&#9881;</a>
				<ul>
					{% if user.is_authenticated %}
						{% block usermenu %}
						{% endblock %}
						<li><a href="{% url 'auth_logout' %}">logout</a></li>
					{% else %}
						<li><a href="{% url 'auth_login' %}">login</a></li>
					{% endif %}
				</ul>
			</li>
			{% endblock %}
		</ul>
		{% endblock navbar %}
	</nav>
	<div id="wrapper"{% block wrapperclasses %}{% endblock %}>
		<div id="navspacer">&nbsp;</div>
		{% block sidebar %}
		{% endblock %}
		<div id="mainwrapper">
			<div id="main">
				<div id="outer_aligner">
					<div {% block aligner %}id="inner_aligner"{% endblock %}>
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
