DEBUG = True
TEMPLATE_DEBUG = DEBUG
RECAPTCHA_PUBLIC_KEY = 'mypublickey'
RECAPTCHA_PRIVATE_KEY = 'myprivatekey'
EMAIL_HOST = 'smtp.example.com'
EMAIL_HOST_USER = 'username'
EMAIL_HOST_PASSWORD = 'password'
DEFAULT_FROM_EMAIL = 'username@example.com'
SERVER_EMAIL = 'username@example.com'
DB_NAME = 'mydb'
DB_USER = 'mydbuser'
DB_PASSWORD = 'mydbpassword'
SECRET_KEY = 'mysecretkey'
PROJECT_ROOT = '/home/user/website/'
PROJECT_URL = 'http://example.com'
TIME_ZONE = 'Australia/Hobart'
LANGUAGE_CODE = 'en-au'
ADMINS = (
    ('myadminuser', 'username@example.com'),
)
